[Unit]
Description=npc %i docker container
After=rpcbind.service
After=docker.service
Before=npc-discovery@%i.service
Requires=docker.service
Requires=rpcbind.service
Requires=npc-discovery@%i.service

[Service]
TimeoutStartSec=0
Restart=always
KillMode=none
ExecStartPre=-/usr/bin/docker stop npc-%i
ExecStartPre=-/usr/bin/docker rm npc-%i
ExecStartPre=/usr/bin/docker pull nicholasvmoore/docker-npc
ExecStart=/usr/bin/docker run --rm -v /mnt/lun00/coreos00/confd/prod/npc:/etc/confd:rw -v /mnt/lun00/coreos00/wordpress/prod:/php:rw -P=true --name=npc-%i nicholasvmoore/docker-npc
ExecStop=/usr/bin/docker stop npc-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=npc@*.service
