[Unit]
Description=npc %i docker container
After=rpcbind.service
After=docker.service
Before=npc-discovery@%i.service
Requires=docker.service
Requires=rpcbind.service
Requires=npc-discovery@%i.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Restart=always
KillMode=none
ExecStartPre=-/usr/bin/docker stop npc-%i
ExecStartPre=-/usr/bin/docker rm -f npc-%i
ExecStartPre=/usr/bin/docker pull nicholasvmoore/docker-npc
ExecStart=/usr/bin/docker run --rm -v /mnt/mpzfs01/coreos00/confd/prod/npc:/etc/confd:rw -v /mnt/mpzfs01/coreos00/www/prod:/php:rw -P=true -e COREOS_PRIVATE_IPV4=${COREOS_PRIVATE_IPV4} --name=npc-%i nicholasvmoore/docker-npc
ExecStop=/usr/bin/docker stop npc-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=npc@*.service
